<template>
    <div class="container">
        <div class="col-10 offset-1">
            <!-- Widget: user widget style 1 -->
            <div class="card card-widget widget-user">
              <!-- Add the bg color to the header using any of the bg-* classes -->
              <div class="widget-user-header bg-info">
                <h3 class="widget-user-username mt-3">{{fullname}}</h3>
               
              </div>
              <div class="widget-user-image">
                <img class="img-circle elevation-2" src="img/boy.png" alt="User Avatar">
              </div>
              <div class="card-footer">
                 
              </div>
            </div>
            <!-- /.widget-user -->
            <div class="card">
                <div class="card-header">Edit Profile </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <label  class="label">First Name:</label>
                            <input v-model="form.firstname" type="text" class="form-control" placeholder="First Name" :class="{ 'is-invalid': form.errors.has('firstname') }">
                            <has-error :form="form" field="firstname"></has-error>
                        </div>
                        <div class="col-md-6">
                            <label  class="label">Last Name:</label>
                            <input v-model="form.lastname" type="text" class="form-control" placeholder="Last Name" :class="{ 'is-invalid': form.errors.has('lastname') }">
                             <has-error :form="form" field="lastname"></has-error>
                        </div>
                    </div>
                    <div class="mt-2">
                        <label  class="label">Address:</label>
                        <input v-model="form.address" type="text" class="form-control" placeholder="Address" :class="{ 'is-invalid': form.errors.has('address') }">
                           <has-error :form="form" field="address"></has-error>
                    </div>
                    <div class="mt-2 row">
                        <div class="col-md-6">
                            <label  class="label">Email:</label>
                            <input v-model="form.email" type="email" class="form-control" placeholder="Email" :class="{ 'is-invalid': form.errors.has('email') }">
                               <has-error :form="form" field="email"></has-error>
                        </div>
                        <div class="col-md-6">
                            <label  class="label">Contact #:</label>
                            <input v-model="form.contact" type="text" class="form-control" placeholder="Contact #" :class="{ 'is-invalid': form.errors.has('text') }">
                               <has-error :form="form" field="text"></has-error>
                        </div>
                    </div>
                    <div class="mt-2 row">
                        <div class="col-md-6">
                            <label  class="label">Enter Old Password:</label>
                            <input v-model="form.oldPassword" type="password" class="form-control" placeholder="Old password" :class="{ 'is-invalid': form.errors.has('oldPassword') }">
                               <has-error :form="form" field="oldPassword"></has-error>
                        </div>
                        <div class="col-md-6">
                            <label  class="label">New Password:</label>
                            <input v-model="form.password" type="password" class="form-control" placeholder="Password" :class="{ 'is-invalid': form.errors.has('password') }">
                               <has-error :form="form" field="password"></has-error>
                        </div>
                    </div>

                    <div class="mt-4">
                        <div class="col-md-12">
                            <button @click.prevent="updateInfo" type="submit" class="btn btn-success btn-block">Update</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>


<script>
    export default {
        data(){
             return {
                 fullname:'',
               form: new Form({
                    lastname: "",
                    firstname: "",
                    address: "",
                    email: "",
                    contact: '',
                    oldPassword:'',
                    password:'',
               })
            }
        },
        methods:{
            updateInfo(){
                this.$Progress.start();
                this.form.put('/api/EditProfile')
                .then(({data})=>{
                    Fire.$emit('AfterCreateProfile');
                    console.log(data);
                    if(data == 1){
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'Old Password Doesnt Match! Please Try Again',
                            })
                    }else{
                         Swal.fire(
                            'Updated!',
                            'Profile Info has been updated.',
                            'success'
                        )
                    }
                   
                    this.$Progress.finish();
                    Fire.$emit('AfterCreateProfile')
                    this.form.oldPassword = '';
                    this.form.password = '';
                })
                .catch(()=>{
                    this.$Progress.fail();
                });
            },
            editprofile(){
                axios.get('api/EditProfile').
                then(({data})=>{
                    this.form.address = data.userDetails.address;
                    this.form.contact = data.userDetails.contact;
                    this.form.lastname = data.user.lastname;
                    this.form.firstname = data.user.firstname;
                    this.form.email = data.user.email;
                    this.fullname = data.user.firstname + ' ' + data.user.lastname;  
                });
            }
        },
       
        created(){
            this.editprofile();
            Fire.$on('AfterCreateProfile',() => {
            this.editprofile();
        })
        }
    }
</script>