<template>
    <div class="row">



        <div class="col-md-7">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title pt-2 mr-4">User</h3>
                <div class="row">
                  <div class="col-9">
                       <button class="btn btn-success" @click="addUser"><i class="fa fa-plus mr-1" aria-hidden="true"></i>Create User</button>
                  </div>
                  <div class="col-3">
                        <div class="input-group mb-3">
                            <input type="search" class="form-control" v-model="searchData" @input="search()" placeholder="Search">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default"><i class="fa fa-search" aria-hidden="true"></i></span>
                            </div>
                        </div>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>User</th>
                      <th>Status</th>
                      <th>Login Detail</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-if="length == 0">
                                <td colspan="5" class="text-center">No User Found</td>
                    </tr>

                    <tr v-for="(user, index) in users.data" :key="user.id">

                      <td>{{index+1}}</td>
                      <td>{{user.firstname }} {{user.lastname }}</td>

                      <td :class="(user.status == 'deactivated' ) ? 'text-danger' : 'text-success'">{{user.status }}</td>
                      <td v-if="user.last_login_at == null">Not yet Login</td>
                      <td v-else>Login {{user.last_login_at | duration('humanize') }}</td>
                      <td>
                        <span @click="userDetails(user.id)" style="cursor:pointer" class="badge badge-info p-2"><i class="fa fa-eye" aria-hidden="true"></i></span>

                        <span @click="deleteUser(user.id)" style="cursor:pointer" class="badge badge-danger p-2">
                          <i class="fa fa-trash" aria-hidden="true"></i>
                        </span>
                        <span @click="userStatus(user.id,user.firstname,(user.status == 'activated') ? 'deactivated' : 'activated')" style="cursor:pointer" :class="(user.status == 'deactivated') ? 'badge-success' : 'badge-danger'" class=" p-2 badge">{{(user.status == 'activated' ) ? 'deactivate':'activate' | upText}}</span>
                      </td>
                    </tr>

                  </tbody>
                </table>
                <div class="p-2 float-right ">
                  <pagination :data="users"  @pagination-change-page="search" :limit="1">
                    <span slot="prev-nav">&lt; Previous</span>
                    <span slot="next-nav">Next &gt;</span>
                  </pagination>
                </div>
              </div>

              <!-- /.card-body -->
            </div>
        <p><i class="fas fa-info text-danger"></i> Note : The Temporary password for the account is <strong>danhil2019</strong>  </p>
        </div>
        <div class="col-md-5">
            <add-user  ref="userDetails"></add-user>
        </div>
    </div>
</template>

<script>

    export default {

        data(){
            return {
                users:{},
                searchData:"",
                length:'',
            }
        },

        methods:{
            search(page = 1){
              axios.get('api/user?page='+ page+'&filter='+this.searchData)
                .then((data) => {
                    this.users = data.data;

                });
            },
            loadUser(page = 1){
                axios.get('api/user?page='+ page)
                .then((data) => {
                  this.length = data.data.data.length;
                    this.users = data.data;

                });
            },

            userDetails(id){
              var role = [];
              axios.get('api/user/'+id)
              .then(({data}) => {

                this.$refs.userDetails.user_id = id;
                this.$refs.userDetails.form.fill(data);
                this.$refs.userDetails.form.address = data.user_details.address;
                this.$refs.userDetails.form.contact = data.user_details.contact;
                this.$refs.userDetails.form.position_id = data.user_details.position_id;
                this.$refs.userDetails.editMode = true;
                data.user_role.forEach(element => {
                    role.push(element.role_id);
                });
                    this.$refs.userDetails.form.userRole = role;
              });
            },

            deleteUser(id){

              this.$swal({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
              }).then((result) => {
                if (result.value) {
                     axios.get('api/userDelete/'+id).then(({data})=>{
                       this.$swal(
                      'Deleted!',
                      'Your file has been deleted.',
                      'success'
                    )
                    });
                  Fire.$emit('AfterCreateUser')
                }
              })
            },

            addUser(){
              this.$refs.userDetails.form.clear();
              this.$refs.userDetails.form.reset();
              this.$refs.userDetails.editMode = false;
            },
            userStatus(id,name,status){
              axios.get('api/userstatus/'+id+'/'+status).then(({data})=>{
                   Fire.$emit('AfterCreateUser');
                  this.$swal({
                  position: 'top-end',
                  type: 'success',
                  title: name +' '+ 'sucessfully' +' '+ status,
                  showConfirmButton: false,
                  timer: 1500
                })
              });

            }
        },
        mounted() {
            this.loadUser();
            Fire.$on('AfterCreateUser',() =>{
                this.loadUser();
            })
            console.log('Component mounted.')
        }
    }
</script>
