<template>
                <div class="card">
                    <div class="card-header">Report

                        <div class="card-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                  <select class="form-control" v-model="yearReport" @change="reportYear">
                                    <option value="" disabled hidden >Select Year</option>
                                    <option :value="years" v-for="years in year" :key="years.id" >{{years}}</option>
                                   
                                  </select>
                            </div>
                        </div>
                    </div>
                    
                    <div class="card-body">
                        <GChart
                            :settings="{packages: ['bar']}"    
                            :data="chartData"
                            :options="chartOptions"
                            :createChart="(el, google) => new google.charts.Bar(el)"
                            @ready="onChartReady"
                        /> 
                    </div>
                </div>
          
</template>

<script>
    import { GChart } from 'vue-google-charts'
    import moment from 'moment';
    export default {
        data () {
            return {
                year: [],
                yearReport: new Date().getFullYear(),
                chartsLib: null, 
           
                chartData: [
                    ["Month", 'Sales', 'Expenses', 'Profit']
                ],
            }
        },
        computed: {
            chartOptions () {
            if (!this.chartsLib) return null
            return this.chartsLib.charts.Bar.convertOptions({
                chart: {
                title: 'Company Performance',
                // subtitle: 'Sales, Expenses, and Profit:'+(new Date()).getFullYear(),
                subtitle: 'Sales, Expenses, and Profit:'+this.yearReport,

                },
                bars: 'vertical', 
                hAxis: { format: 'decimal' },
                height: 500,
                colors: ['green', '#d95f02', 'skyblue']
            })
            }
        },
        methods: {
            onChartReady (chart, google) {
                this.chartsLib = google
            },
            loadyear(){
                
                axios.get('api/report').then(({data})=>{
                    var years = Object.entries(data);
                    years.forEach(year => {
                        this.year.push(year[0]);
                    })
                });
            },
            reportYear(){
                // console.log(this.yearReport);
                this.chartData.splice(1);
                this.loadSample()
            },

            loadSample(){
             
                axios.post('api/monthly',{
                    year : this.yearReport
                })
                .then(({data}) => {
                    data.forEach(element => {
                        console.log(element);
                        this.chartData.push(
                            [
                                moment(element.created_at).format("MMMM"),element.sale,element.expenses,element.profit
                            ]
                        );
                    });
                });
            },

            // loadValue(){
            //     console.log(this.chartData);
            // }

        },
        mounted() {
            this.loadSample();
            // this.loadValue();
            this.loadyear();
            console.log('Component mounted.')
        }
    }
</script>
