<template>
<div>  
    <div class="row">
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
            <div class="inner">
                <h3>
                    <number
                    :from="0"
                    :to="countOrder"
                    :duration="1"
                    easing="Power4.easeOut"/>
                </h3>
                <p>Orders</p>
            </div>
            <div class="icon">
                <i class="fas fa-shopping-bag"></i>
            </div>
            
            <a v-if="user_type == 'admin'" href="/orders" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                <a v-else href="#" @click="moreInfoOrders()" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
            <div class="inner">
                <h3>
                    <number
                    :from="0"
                    :to="countCustomer"
                    :duration="1"
                    easing="Power4.easeOut"/>
                </h3>

                <p>Customer</p>
            </div>
            <div class="icon">
                <i class="fa fa-users" aria-hidden="true"></i>
            </div>
            <a v-if="user_type == 'admin'" href="/customer" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            <a v-else href="#" @click="moreInfoOrders()" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-primary">
            <div class="inner">
                <h3>
                    <number
                    :from="0"
                    :to="countUser"
                    :duration="1"
                    easing="Power4.easeOut"/>
                </h3>

                <p>Registered User</p>
            </div>
            <div class="icon">
                <i class="fas fa-user-friends    "></i>
            </div>
            <a v-if="user_type == 'admin'" href="/user" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            <a v-else href="#" @click="moreInfoOrders()" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-danger">
                <div class="inner">
                    <h3>
                        <number
                        :from="0"
                        :to="countlowStock"
                        :duration="3"
                        easing="Power4.easeOut"/>
                    </h3>

                    <p>Low Stock Item</p>
                </div>
                <div class="icon">
                <i class="fas fa-exclamation-triangle"></i>
                </div>
                <a v-if="user_type == 'admin'" href="/product" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                <a v-else href="#" @click="moreInfoOrders()" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
            
        </div>
        <!-- ./col -->
    </div>
        <div class="row justify-content-center p-3" >
            <div class="col-md-12"  >
                <report style="box-shadow:0px 0px 5px gray;" ></report>
            </div>
        </div>
</div>               
</template>

<script>
    export default {
        data(){
            return {
                count:[],
                countOrder:'',
                countCustomer:'',
                countUser:'',
                countlowStock:'',
                user_type:'',
            }
        },
        methods:{
            total(){
                axios.post('api/totalDashboard').then(({data})=>{
                this.countOrder = data.order;
                this.countCustomer = data.customer;
                this.countUser = data.user;
                this.countlowStock = data.product;
                });
            },
            test(){
                axios.get('api/EditProfile').
                then(({data})=>{
                    this.user_type = data.user.user_type;
                 
                                 
                });
            },
            moreInfoOrders(){
                this.$Progress.start();
                Fire.$emit('AfterCreate');

                Swal.fire({
                icon: 'error',
                title: 'You have no access to this feature',
                text: 'Only admin can see this!',
                })
                this.$Progress.finish();
            }
        },
        mounted() {
            this.total();
            this.test();
            console.log('Component mounted.')
        }
    }
</script>
