<template>
    <div class="input-group mb-3">
         <input type="search" class="form-control" v-model="searchData" @input="search()" placeholder="Search">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default"><i class="fa fa-search" aria-hidden="true"></i></span>
        </div>
    </div>
</template>
<script>
export default {
    props:['options'],
    data(){
        return {
            searchData:'',
        }
    },
    methods :{
        search(){
            axios.post('api/search',{
                table  : this.options.table,
                column : this.options.column,
                search : this.searchData
            }).then(({data})=> {
                this.$emit('searchSucess', data);
            });
        }
    }
}
</script>