// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

// Variables
@import 'variables';
$fa-font-path:"../webfonts";
@import "vue-select/src/scss/vue-select.scss";

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~admin-lte/dist/css/adminlte.css';

@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";
@import '~sweetalert2/src/variables';
@import '~sweetalert2/src/sweetalert2';
