<template>
    <b-modal hide-footer v-model="re_stock" :title="item_details.item">
        <div class="row justify-content-center">
            <div class="col-md-8">

                <img class="img-fluid" :src="(item_details.photo == 'picture.png')?`img/picture.png`:`img/product/`+item_details.photo" alt="">

            </div>
        </div>

        <div class="row justify-content-center mt-2">
            <div class="col-md-8">
                <input type="text" @keypress="onlyNumber" v-model="quantity" placeholder="Enter Quantity" class="form-control">
            </div>
        </div>

        <div class="row justify-content-center mt-2">
            <div class="col-md-8">
                <label for="">Supplier Price/Item</label>
                <input type="text" @keypress="onlyNumber" v-model="price" placeholder="Enter Quantity" class="form-control">
            </div>
        </div>

        <div class="row justify-content-center mt-2">
            <div class="col-md-8">
                <label for="">Price</label>
                <input type="text" @keypress="onlyNumber" v-model="salePrice" placeholder="Enter Quantity" class="form-control">
            </div>
        </div>

        <div class="row justify-content-center mt-2">
            <div class="col-md-8">
                <button @click="addQuantity" class="btn btn-success form-control">Save</button>
            </div>
        </div>
    </b-modal>
</template>

<script>
    export default {
        data(){
            return{
                re_stock:false,
                item_details:{},
                item_id: 0,
                quantity:"",
                price:"",
                salePrice:""
            }
        },
        methods:{
            loadItemDetails(id){
                axios.get('api/product/'+id)
                .then(({data}) => {
                    this.price = data.supplier;
                    this.salePrice = data.price;
                    this.item_details = data;
                    this.item_id = data.id

                })
            },

            addQuantity(){
                axios.post('api/addQuantity',{
                    id:this.item_id,
                    quantity:this.quantity,
                    price:this.price,
                    saleprice:this.salePrice
                })
                .then(({data}) => {
                    this.$emit('successUpdate');
                    this.re_stock = false;
                    this.quantity = "";
                    this.$toastr.s('Item Quantity Successfully Updated');
                })
            },
              onlyNumber ($event) {
            //console.log($event.keyCode); //keyCodes value
            let keyCode = ($event.keyCode ? $event.keyCode : $event.which);
            if (keyCode < 48 || keyCode > 57) {
                $event.preventDefault();
                 }
            }
        },
        mounted() {

            console.log('Component mounted.')
        }
    }
</script>
