.choose_file {
    position: relative;
    display: inline-block;   
    font: normal 14px Myriad Pro, Verdana, Geneva, sans-serif;
    color: #7f7f7f;
    margin-top: 2px;
    background: white
}
.choose_file input[type="file"]{
    -webkit-appearance:none; 
    position:absolute;
    top:0;
    left:0;
    opacity:0;
    width: 100%;
    height: 100%;
}
.divLogoPrint{
    position:absolute;
    left:450px;
}
.headerPrintText{
    /* font-weight: bold; */
    font-size: medium;
}
.label{
    font-size: 13px;
    color: gray;
}

.viewProductLabel{
    width: 150px;
    font-weight: bold;
    font-size: 18px;
    color: gray;
}

.autosuggest__results-item{
    list-style-type:none;
}

.test{
    /* font-family: 'Archivo Black', sans-serif !important; */
    /* color: black !important; */
    color: black !important;
}




