<template>
    <div class="row">
        <div class="col-md-5">
            <div class="card">
                <div class="card-header">
                    <div class="card-title pt-2">
                        Customer
                    </div>
                    <div class="row">
                        <div class="col-7">
                            <div class="input-group mb-3">
                                <input type="search" class="form-control" v-model="searchData" @input="search()" placeholder="Search">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default"><i class="fa fa-search" aria-hidden="true"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-5">
                              <button class="btn btn-success" @click="addcustomer()"><i class="fa fa-plus" aria-hidden="true"></i> Add Customer</button>
                        </div>
                    </div> 
                </div>
                
                <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Customer Name</th>
                      <th class="text-center">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-if="length == 0">
                        <td colspan="3" class="text-center">No Records</td>
                    </tr>
                    <tr v-for="(customers, index) in customer.data" :key="customers.id">
                        <td>{{index+1}}</td>
                        <td>{{customers.customer}}</td>
                        <td class="text-center">
                            <span @click="viewCustomer(customers.id)" class="badge badge-info p-2"><i class="fa fa-eye" aria-hidden="true"></i></span>
                             <span @click="deleteCustomer(customers.id)" class="badge badge-danger p-2"><i class="fa fa-trash" aria-hidden="true"></i></span>
                        </td>
                    </tr>
                  </tbody>
                </table>
                <div class="p-2 float-right ">
                    <pagination :data="customer"  @pagination-change-page="search" :limit="1">
                        <span slot="prev-nav">&lt; Previous</span>
                        <span slot="next-nav">Next &gt;</span>
                    </pagination>
                </div>
              </div>
            </div>
        </div>
        <div class="col-md-7 p-0">
            <customer-details @editCustomerDetails="fetchCustomerDetails" :customerID="customerID" v-show="!addCustomer"></customer-details>
            <add-customer ref="editComponent" v-show="addCustomer" @createdSuccess="loadCustomer()"></add-customer>
        </div>
    </div>
</template>

<script>
    export default {
        data (){
            return {
                editCustomerDetails:false,
                addCustomer:true,
                customer:{},
                customerID:0,
                searchData:'',
                length:'',
            }
        },

        methods: {
            search(e){
                  this.customer = e;
            },
            addcustomer(){
                this.addCustomer = true;
                this.$refs.editComponent.editMode = false;
                this.$refs.editComponent.form.reset();
                this.$refs.editComponent.form.clear();
            },
            viewCustomer(id){
                this.addCustomer = false;
                this.customerID = id;
                Fire.$emit('DetailsView',id);
            },
            search(page = 1){
              axios.get('api/customer?page='+ page+'&filter='+this.searchData)
                .then((data) => {
                    this.customer = data.data;
                    this.length = data.data.length;

                }); 
            },
            loadCustomer(page = 1){
                axios.get('api/customer?page='+ page)
                .then((data) => {
                    this.customer = data.data
                    this.length = data.data.length;
                });
            },
            deleteCustomer(id){
                Swal.fire({
                title: 'Are you sure?',
                text: "Delete this Log Activity",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, Undo it!'
                }).then((result) => {
                    if(result.value){
                      axios.get('api/customerDeleted/'+id)
                          .then(({data})=>{
                          
                            Swal.fire(
                            'Deleted!',
                            'Successfully deleted',
                            'success'
                            )
                             Fire.$emit('displayCustomer')

                      });
                        
                }

            })   
            },
            fetchCustomerDetails(value){
                this.addCustomer = true;
                this.editCustomerDetails = true;
                if(this.editCustomerDetails == true){
                    axios.get('api/customer/'+value)
                    .then(({data}) => {
                        this.$refs.editComponent.form.fill(data);
                        this.$refs.editComponent.customer_id = value;
                        this.$refs.editComponent.editMode = true;
                        console.log(this.$refs.editComponent)
                    });
                    
                }
                
                // console.log(this.$refs.editComponent.form);
            }
        },
        mounted() {
            this.loadCustomer();
            Fire.$on('displayCustomer',() => {
                this.loadCustomer();
            })
            console.log('Component mounted.')
        }
    }
</script>
