<template>

    <div>
        <div class=" row justify-content-center">
            <div class="col-5">
                <div class="input-group mb-3">
                    <input type="search" class="form-control" v-model="searchData" @input="search()" placeholder="Search">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default"><i class="fa fa-search" aria-hidden="true"></i></span>
                    </div>
                </div>
            </div>
        </div>

         <b-nav pills>
            <b-nav-item :active="active.all" @click="getOrders('all')">All</b-nav-item>
            <b-nav-item :active="active.unpaid" @click="getOrders('unpaid')">Unpaid</b-nav-item>
            <b-nav-item :active="active.paid" @click="getOrders('paid')">Paid</b-nav-item>
            <b-nav-item :active="active.cancel" @click="getOrders('cancel')">Cancel</b-nav-item>
        </b-nav>



        <table class="table table-hover text-center">
            <thead>
                <tr>
                    <th>OR #</th>
                    <th>Customer</th>
                    <th>Price</th>
                    <th>Remaining  balance</th>
                    <th>Payment Terms</th>
                    <th class="text-left">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr v-if="this.length == 0">
                    <td colspan="6" class="text-center">No Record...</td>
                </tr>
                <tr v-else v-for="order in orders.data" :key="order.id">
                    <td>{{order.id}}</td>
                    <td>{{order.customer.customer}}</td>
                    <td>₱{{order.price | toCurrency}}</td>
                    <td>₱{{order.balance | toCurrency}}</td>
                    <td>{{order.term}}</td>
                    <td class="text-left">
                        <router-link :to="{name:'viewPrint',params:{id:order.id}}">
                            <span class="badge badge-primary p-2"><i class="fa fa-eye" aria-hidden="true"></i>View</span>
                        </router-link>

                        <span v-show ="order.status == 'unpaid'  && order.balance != 0" style="cursor:pointer" @click="btnDelivered(order.id)" class="badge badge-success p-2"><i class="fas fa-dollar-sign"></i>Payment</span>
                        <span v-show="order.status != 'cancel' && order.status != 'paid' && order.status != 'pending' && order.status !='tobeCheck'" style="cursor:pointer" @click="btnCancelOrder(order.id)" class="badge badge-danger p-2"><i class="fas fa-times"></i>Cancel</span>

                        <span class="badge badge-info p-2 text-white" @click="transaction(order.id)"><i class="fa fa-info-circle" aria-hidden="true"></i> Transaction Details</span>
                        <span v-show ="order.status == 'paid'" class="text-success p-2 text-bold"><i class="fas fa-check"></i> Paid</span>

                    </td>
                </tr>
            </tbody>
        </table>
        <div class="p-2 float-right">
            <pagination :data="orders"  @pagination-change-page="loadOrders" >
                    <span slot="prev-nav">&lt; Previous</span>
                    <span slot="next-nav">Next &gt;</span>
            </pagination>
        </div>

        <modal-deliver ref="refDelivery" @loadOrders="loadOrders"></modal-deliver>

         <b-modal v-model="modalShow" hide-footer size="lg">
                    <template v-slot:modal-title>
                            {{ customer.customer }}
                    </template>

                    <div class="d-block text-center">
                    <h3>Transaction History</h3>
                        <table class="table  table-bordered" >
                            <thead class="bg-secondary">
                                <tr>
                                    <th>Payment Type</th>
                                    <th>Check No.</th>
                                    <th>Check Date</th>
                                     <th>Price</th>
                                     <th>Transaction Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="order in details" :key="order.id" >
                                    <td>
                                        {{ order.payment_type}}
                                    </td>

                                    <td >
                                       <p> {{ order.check_no == null ? 'N/A' :  order.check_no }}</p>
                                    </td>
                                    <td>
                                         {{ order.check_date == null ? 'N/A' : order.check_date }}

                                    </td>
                                    <td>
                                       <p> {{order.value}}</p>
                                    </td>
                                    <td>
                                         {{ order.created_at | moment ('dddd')}}
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                      <div class="w-100 ">
                          <h4 class="text-right">Balance : <span class="text-danger">₱{{balance | toCurrency}}</span> </h4>
                      </div>
                    </div>
        </b-modal>

    </div>
</template>

<script>
    export default {
        data(){
            Vue.prototype.$userId = document.querySelector("meta[name='user-id']").getAttribute('content');
            return {
                orders:{},
                modalShow:false,
                orderTransaction:{},
                row:{},
                details:{},
                total:0,
                status:'all',
                searchData:'',
                length:'',
                balance:0,
                active: {
                    all : true,
                    unpaid: false,
                    paid : false,
                    cancel: false
                }
            }
        },
        methods: {
            search(page = 1){
                   axios.post('api/orderList?page='+ page ,{
                    user_id:this.$userId,
                    filter: this.searchData
                })
                .then((data) => {
                    this.orders = data.data
                    this.length = data.data.data.length;

                });
            },
            loadOrders(page = 1){
                axios.post('api/orderList?page='+ page,{
                    user_id:this.$userId,
                    status:  this.status
                })
                .then((data) => {
                    this.orders = data.data
                    this.length = data.data.data.length;
                     this.checkDate = data.data.data.length;

                });
            },

            btnDelivered(id){
                this.$refs.refDelivery.modalShow = true;
                this.$refs.refDelivery.$data.order_id = id;
            },
            getOrders(status){
                this.status = status;
                this.loadOrders(status);
                if(status == 'all'){
                    this.active.all = true;
                    this.active.unpaid = false;
                    this.active.paid = false;
                    this.active.cancel = false;
                    this.searchData = '';
                }else if(status == 'unpaid'){
                    this.active.all = false;
                    this.active.unpaid = true;
                    this.active.paid = false;
                    this.active.cancel = false;
                      this.searchData = '';
                }else if(status == 'cancel'){
                    this.active.all = false;
                    this.active.unpaid = false;
                    this.active.paid = false;
                    this.active.cancel = true;
                      this.searchData = '';
                }else{
                    this.active.all = false;
                    this.active.unpaid = false;
                    this.active.paid = true;
                    this.active.cancel = false;
                      this.searchData = '';
                }
            },
            btnCancelOrder(id){
                axios.post('api/cancelOrder',{
                    id:id
                })
                .then(({data}) => {
                    console.log(data);
                    this.$toastr.s('Order has been Cancel');
                    Fire.$emit('reloadOrder');
                })
            },
            transaction(id){
                 axios.post('api/transactionDetails',{
                    id:id
                })
                .then(({data}) => {
                    this.modalShow = true
                    this.details =data.collect;
                    this.customer = data.order.customer;
                    this.balance = data.order.balance;
                    console.log(data.order);
                })
            }


        },
        mounted() {
            this.loadOrders();
            Fire.$on('reloadOrder',()=>{
                this.loadOrders();
            })

            console.log('Component mounted.')
        }
    }
</script>
