<template>
<div class="card">
    <div class="card-header">
            <h3 class="card-title">Collections Table</h3>

              <div class="card-tools">
                  <div class="input-group mb-3">
                    <input type="search" class="form-control" v-model="searchData" @input="search()" placeholder="Search">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default"><i class="fa fa-search" aria-hidden="true"></i></span>
                    </div>
                </div>
              </div>
      </div>
                    <div>
                      <b-nav pills>
                        <b-nav-item :active="active.all" @click="checkTab('all')">All Collection</b-nav-item>
                        <b-nav-item :active="active.dated" @click="checkTab('Dated Check')">Dated Check</b-nav-item>
                        <b-nav-item :active="active.postDated" @click="checkTab('Post Dated Check')">Post Dated Check</b-nav-item>
                        <b-nav-item :active="active.cash" @click="checkTab('Cash')">Cash</b-nav-item>
                      </b-nav>
                    </div>
              <div class="card-body table-responsive p-0">
          <table class="table table-hover">
                  <thead>
                    <tr>
                        <th>ID</th>
                        <th>OR#</th>
                        <th>Customer</th>
                        <th>Price</th>
                        <th>Type</th>
                        <th>Date</th>
                        <th>Payment Term</th>
                        <th>Posted Check</th>
                        <th>Status</th>
                    </tr>
                  </thead>
                  <tbody>
                        <tr v-if="this.length == 0">
                            <td colspan="8" class="text-center">No Record</td>
                        </tr>
                        <tr v-else v-for="collection in collections.data" :key="collection.id">

                          <td>{{collection.id}}</td>
                          <td>{{collection.order_id}}</td>
                          <td>{{collection.order.customer.customer}}</td>
                          <td>{{collection.value}}</td>
                          <td>{{collection.payment_type}}</td>
                          <td>{{collection.check_date | moment('dddd')}}</td>
                              <td>{{collection.order.term}}</td>
                          <td>{{collection.created_at | moment('dddd')}}</td>


                          <td>
                            <span  v-if="collection.status == 'cleared' "  class="text-success text-bold"><i class="fa fa-check" aria-hidden="true"></i> Cleared</span>
                            <span v-else class="btn btn-outline-danger" @click="deletePayment(collection.id)"><i class="fa fa-undo" aria-hidden="true"></i> Reject</span>

                            <span v-if="collection.check_date != currentDate && collection.status == 'pending' " class="text-primary"><i class="fa fa-exclamation" aria-hidden="true"></i> pending</span>
                            <span v-else v-show="collection.status == 'tobeClear'" class="btn btn-outline-success" @click="clearCheck(collection.order_id,collection.id)"><i class="fa fa-check" aria-hidden="true"></i> Clear</span>
                          </td>
                        </tr>
                  </tbody>
          </table>
          <div class="p-2 float-right">
            <pagination :data="collections"  @pagination-change-page="loadCollection" :limit="1">
                    <span slot="prev-nav">&lt; Previous</span>
                    <span slot="next-nav">Next &gt;</span>
            </pagination>
        </div>
    </div>
</div>

</template>
<script>
export default {
    data(){
        return {
            collections:{},
            searchData:'',
            status:'all',

            length:'',
            currentDate:'',
            active:{
              all:true,
              dated:false,
              postDated:false,
              cash:false,
            }
        }
    },

    methods: {
       search(page = 1){
                axios.post('api/loadCollection?page='+ page,{
                status:  this.status,
                filter: this.searchData
                })
                .then((data) => {

                    this.collections = data.data
                   this.length = data.data.data.length;
                });
        },
        loadCollection(page = 1){
              axios.post('api/loadCollection?page='+ page,{
              status:  this.status,
          })
          .then((data) => {

            this.currentDate = new Date().toJSON().slice(0,10).replace(/-/g,'-');
            this.length = data.data.data.length;
            this.collections = data.data;

          })
        },

        checkTab(status){
           this.status = status;
            this.loadCollection(status);
            if(status == "all"){
              this.active.all = true;
              this.active.dated = false;
              this.active.postDated = false;
              this.active.cash = false;
              this.searchData = '';
            }else if(status == "Dated Check"){
              this.active.all = false;
              this.active.dated = true;
              this.active.postDated = false;
              this.active.cash = false;
               this.searchData = '';
            }else if(status == "Post Dated Check"){
              this.active.all = false;
              this.active.dated = false;
              this.active.postDated = true;
              this.active.cash = false;
               this.searchData = '';
            }else{
              this.active.all = false;
              this.active.dated = false;
              this.active.postDated = false;
              this.active.cash = true;
               this.searchData = '';
            }
        },
        deletePayment(id){
                Swal.fire({
                title: 'Are you sure?',
                text: "This Going to Undo your Payment!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, Undo it!'
                }).then((result) => {
                    if(result.value){
                      axios.get('api/DeleteCollection/'+id)
                          .then(({data})=>{

                            Swal.fire(
                            'Deleted!',
                            'Successfully refunded',
                            'success'
                            )
                             Fire.$emit('AfterCreate')

                      });

                }

            })
        },
        clearCheck(orderID,id){
               Swal.fire({
                title: 'Are you sure?',
                text: "This is about to clear the client!",
                icon: "error",
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, Clear it!'
                }).then((result) => {
                    if(result.value){
                        axios.get('api/clearcheck/'+orderID+'/'+id)
                        .then(({data})=>{
                              console.log(data);
                          });
                         Fire.$emit('AfterCreate')

                }

            })
        }

    },
    created (){
      this.loadCollection();

       Fire.$on('AfterCreate',() => {
            this.loadCollection();
        })
    }
}
</script>
