<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header"><label for="">Activity Log</label>

                    </div>

                    <div class="card-body">
                            <table class="table table-bordered text-center">
                                <thead>
                                    <tr class="bg-primary">
                                        <th>#</th>
                                        <th>name</th>
                                        <th>Activity</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-if="length == 0">
                                        <td class="jumbotron" colspan="4">No Activity Log</td>
                                    </tr>
                                    <tr v-else v-for="(log,index) in  Logactivity.data" :key="log.id">
                                        <td scope="row">{{index+ 1}}</td>
                                        <td>{{log.causerName}} {{log.action}} {{log.tableName}} from {{log.model}} </td>
                                        <td>{{log.created_at | moment("dddd, MMMM Do YYYY, h:mm a")  }}</td>
                                        <td>
                                            <span class="btn btn-outline-danger" @click="deleteLog(log.id)"> <i class="fa fa-trash fa-md" aria-hidden="true"></i>Delete</span>

                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                            <div class="w-100 m-3 ">
                                 <pagination :data="Logactivity"  @pagination-change-page="loadACtivity" :limit="1" >
                                        <span slot="prev-nav">&lt; Previous</span>
                                        <span slot="next-nav">Next &gt;</span>
                                </pagination>
                            </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</template>

<script>
    export default {

        data(){

            return{
                length:'',
                Logactivity:{},
                log_name:'',
                description:'',
                subject_type:'',
                old:{},
                attributes:{},
            }
        },
        methods:{
            loadACtivity(page = 1){
                axios.get('api/activity?page='+ page)
                .then(({data})=>{

                    this.length = data.data.length;
                    this.Logactivity = data


                });
            },

            deleteLog(id){
                Swal.fire({
                title: 'Are you sure?',
                text: "Delete this Log Activity",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, Undo it!'
                }).then((result) => {
                    if(result.value){
                      axios.get('api/logDeleted/'+id)
                          .then(({data})=>{
                            Swal.fire(
                            'Deleted!',
                            'Successfully deleted',
                            'success'
                            )

                             Fire.$emit('AfterCreate')

                      });

                }

            })
            }
        },
        created (){
            this.loadACtivity();

       Fire.$on('AfterCreate',() => {
          this.loadACtivity();
        })
        }

    }
</script>
