<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7">
                <div class="card">
                    <div class="card-header">List Of Expenses
                            <div class="card-tools">
                                <button class="btn btn-outline-success" @click="addExpenses()"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add</button>
                            </div>
                    </div>

                    <div class="card-body">
                        <table class="table table-striped table-inverse ">
                            <thead class="thead-inverse bg-dark text-center">
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Price</th>
                                    <th>Due Date</th>
                                    <th>Action</th>
                                </thead>
                                <tbody class="text-center">
                                    <tr v-for="(expense,index) in expenses" :key="expense.id">
                                        <td>{{index + 1}}</td>
                                        <td>{{expense.name}}</td>
                                        <td>₱{{ expense.price | toCurrency }}</td>
                                        <td>{{ expense.date | moment('MMMM DD YYYY')}}</td>
                                        <td>
                                            <span class="badge badge-primary p-2" @click="editExpneses(expense)"><i class="fas fa-edit  "></i> Edit</span>
                                             <span class="badge badge-danger p-2" @click="deleteExpenses(expense.id)"><i class="fa fa-trash" aria-hidden="true"></i> Delete</span>
                                        </td>
                                    </tr>

                                </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-4" v-show="Showright">
                <div class="card border-secondary">
                <div class="card-header">{{editmode ? 'Update Expenses' : 'Create Expenses'}}</div>
                  <form @submit.prevent="editmode ? updateExpenses() : createExpenses()">
                  <div class="card-body">
                        <div class="form-group">
                          <label for="">Name</label>
                          <input type="text" v-model="form.name" class="form-control" placeholder="" :class="{ 'is-invalid': form.errors.has('name') }">
                            <has-error :form="form" field="name"></has-error>

                        </div>
                        <div class="form-group">
                          <label for="">Price</label>
                          <vue-numeric currency="₱" separator="," v-model="form.price" :min="1" placeholder="1" class="form-control" :class="{ 'is-invalid': form.errors.has('price') }"></vue-numeric>
                            <has-error :form="form" field="price"></has-error>
                        </div>
                        <div class="form-group">
                        <label for="date">Date:</label>
                            <datepicker input-class="form-control font-weight-bold text-center" calendar-class="w-100"   placeholder="Expenses Date" v-model="form.date" :format="format"></datepicker>
                         </div>

                        <button  class="form-control" :class="editmode ? 'btn btn-primary' : 'btn btn-success'">{{editmode ? 'Update' : 'Create'}}</button>
                  </div>
                  </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    export default {
        data(){
            return{
                format: "MMMM dd  yyyy",
                expenses:{},
                Showright:false,
                editmode:false,
                form: new Form({
                    id: '',
                    name: '',
                    price:'',
                    date: '',
                })
            }
        },
        methods:{
            loadExpenses(){
                   axios.get('api/expenses')
                   .then(({ data }) => {
                   this.expenses = data
                   });
            },
            addExpenses(){
                this.Showright = true;
                this.form.reset();
                this.editmode = false;
                this.form.date = new Date().toJSON().slice(0,10)
            },
            editExpneses(expenses){
                this.form.reset();
                this.editmode = true
                 this.Showright = true;
                this.form.fill(expenses);
            },
            createExpenses(){
                 this.form.post('api/expenses')
                 .then(({data})=>{
                    toast.fire({
                        icon: 'success',
                        title: 'Unit Created Successfully'
                    })
                    Fire.$emit('AfterCreate');
                     this.Showright = false
                 });
            },
            updateExpenses(){
                 this.form.put('api/expenses/'+this.form.id)
                 .then(({data})=>{
                      Swal.fire(
                            'Updated!',
                            'Unit has been updated.',
                            'success'
                        )
                        Fire.$emit('AfterCreate')
                 });
            },
            deleteExpenses(id){
                 Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if(result.value){
                        this.form.delete('api/expenses/'+id).then(()=>{
                            Swal.fire(
                            'Deleted!',
                            'Unit has been deleted.',
                            'success'
                        )
                        Fire.$emit('AfterCreate')
                          this.Showright = false;
                    }).catch(()=>{
                        Swal("Failed!", "There was something wrong!", "warning");
                    });
                }
            })
            }
        },
        created(){
        this.loadExpenses();

        Fire.$on('AfterCreate',() => {
            this.loadExpenses();

        })
    }
    }
</script>
