<template>
    <div class="container">
        <div class="col-6 offset-3">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title pt-2">Unit Table</h3>
                    <div class="card-tools">
                        <button class="btn btn-success" @click="newModal">Add New <i class="fas fa-plus"></i></button>
                    </div>
                </div>
                <div class="card-body table-responsive p-0">
                    <table class="table table-hover">
                        <thead class="text-center">
                            <tr>
                                <th>Name</th>
                                <th>Modify</th>
                            </tr>
                        </thead>
                        <tbody class="text-center">
                            <tr v-for="unit in units" :key="unit.id">
                                <td>{{ unit.name | upText }}</td>
                                <td>
                                    <a href="#" @click="editModal(unit)">
                                        <i class="fa fa-edit fa-lg"></i>
                                    </a>/
                                    <a href="#" @click="deleteUnit(unit.id)">
                                        <i class="fa fa-trash red fa-lg"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="addNewLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 v-show="!editmode" class="modal-title" id="addNewLabel">Create Unit</h5>
                        <h5 v-show="editmode" class="modal-title" id="updateLabel">Update Unit</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form @submit.prevent="editmode ? updateUnit() : createUnit()">
                        <div class="modal-body">
                            <div class="form-group">
                                <input v-model="form.name" type="text" name="name" placeholder="Name"
                                    class="form-control" :class="{ 'is-invalid': form.errors.has('name') }">
                                <has-error :form="form" field="name"></has-error>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                            <button v-show="editmode" type="submit" class="btn btn-success">Update</button>
                            <button v-show="!editmode" type="submit" class="btn btn-success">Create</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data(){
        return{
            editmode: false,
            units: {},
            form: new Form({
                id: '',
                name: '',
            })
        }
    },
    methods:{
        updateUnit(){
            this.$Progress.start();
            // console.log('Editing data');
            this.form.put('api/unit/'+this.form.id)
            .then(()=>{
                $('#addNew').modal('hide');
                Swal.fire(
                            'Updated!',
                            'Unit has been updated.',
                            'success'
                        )
                this.$Progress.finish();
                Fire.$emit('AfterCreate')
            })
            .catch(()=> {
                this.$Progress.fail();
            });
        },
        editModal(unit){
            this.editmode = true;
            this.form.reset();
            $('#addNew').modal('show');
            this.form.fill(unit);
        },
        newModal(){
            this.editmode = false;
            this.form.reset();
            $('#addNew').modal('show');
        },
        deleteUnit(id){
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if(result.value){
                        this.form.delete('api/unit/'+id).then(()=>{
                            Swal.fire(
                            'Deleted!',
                            'Unit has been deleted.',
                            'success'
                        )
                        Fire.$emit('AfterCreate')

                    }).catch(()=>{
                        Swal("Failed!", "There was something wrong!", "warning");
                    });
                }
            })
        },
        loadUnits(){
            axios.get("api/unit").then(({ data }) => (this.units = data.data));
        },
        createUnit(){
            this.$Progress.start();
            this.form.post('api/unit');
            Fire.$emit('AfterCreate');
            $('#addNew').modal('hide');

            toast.fire({
                icon: 'success',
                title: 'Unit Created Successfully'
            })
            this.$Progress.finish();
        }
    },
    created(){
        this.loadUnits();
        Fire.$on('AfterCreate',() => {
            this.loadUnits();
        })
    }
}
</script>
